* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: url("../public/Background.png");
  background-size: contain;
  background-color: #1e2027;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow-x: Hidden;
}
